<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- FQDN 사용할 DAO의 클래스명을 풀패키지명으로 작성 -->
  <mapper namespace="com.gguek.app.departments.DepartmentDAO">
  <!-- 쿼리 태그 -->
  <!-- ID : DAO에서 사용할 메서드명을 ID로 작성 -->
  <!-- 컬럼명과 resultType의 Bean의 Setter 이름이 같은 걸 찾아서 대입 -->
  <select id="list" resultType="com.gguek.app.departments.DepartmentDTO">
  	SELECT * 
  	FROM TB_DEPARTMENT
  </select>
  
   <select id="detail" resultType="com.gguek.app.departments.DepartmentDTO" parameterType="java.lang.String">
  	SELECT * 
	FROM TB_DEPARTMENT
	WHERE DEPARTMENT_NO = #{num}
  </select>
  
  </mapper>
  
